<h1>Employee List Works!</h1>
<table>
    <tr> 
        <th> Id </th>
        <th> Employee Name </th>
        <th> Gender </th>
        <th> Email </th >
        <th> Phone </th>
        <th th class="width-column"> Hire Date </th>
        <th th class="width-column"> Worked Type </th>
        <th> Salary </th>
        <th> Actions </th>
    </tr>
    <tr *ngFor="let employeeList of employees"> 
            <td> {{employeeList.id}} </td>
            <td> {{employeeList.employeeName}} </td>
            <td> {{employeeList.gender}} </td>
            <td> {{employeeList.email}} </td>
            <td> {{employeeList.phone}} </td>
            <td> {{employeeList.hireDate}} </td>
            <td> {{employeeList.workedType}} </td>
            <td> {{employeeList.salary}} </td>
            <td>
                <button> Edit </button>
                <button (click)="deleteEmployee(employeeList)"> Delete </button>
            </td>
    </tr>
<table>