<h1>Company Employees</h1>

<a routerLink="/create">Add</a>

<table>
    <tr> 
        <th> ID </th>
        <th> Name </th>
        <th> Gender </th>
        <th> Email </th >
        <th> Phone </th>
        <th th class="width-column"> Hire Date </th>
        <th th class="width-column"> Work Type </th>
        <th> Salary </th>
        <th> Actions </th>
    </tr>
    <tr *ngFor="let employee of employees"> 
            <td> {{employee.id}} </td>
            <td> {{employee.employeeName}} </td>
            <td> {{employee.gender}} </td>
            <td> {{employee.email}} </td>
            <td> {{employee.phone}} </td>
            <td> {{employee.hireDate}} </td>
            <td> {{employee.workedType}} </td>
            <td> {{employee.salary}} </td>
            <td>
                <a routerLink="/edit/{{employee.id}}">Edit</a>
                <button (click)="deleteEmployee(employee)">Delete</button>
            </td>
    </tr>
<table>