<p>Employees works!</p>
<table>
    <tr> 
        <th> Name </th>
        <th> Gender </th>
        <th> Email </th >
        <th> Phone </th>
        <th> Hire Date </th>
        <th> Workeed Type </th>
        <th> Salary </th>
    </tr>
    <tr >
        <td> Rita Harford </td>
        <td> F </td>
        <td> rita@gmail.com </td>
        <td> 021312313 </td>
        <td> 11-10-2011 </td>
        <td> In the office </td>
        <td> 55555 </td>
    </tr>
    <tr >
        <td> Margaret Richard </td>
        <td> F </td>
        <td> margaret@gmail.com </td>
        <td> 0345535398783 </td>
        <td> 05-01-2013 </td>
        <td> Online </td>
        <td> 53000 </td>
    </tr>
    <tr >
        <td> Marius Michel </td>
        <td> M </td>
        <td> marius@gmail.com </td>
        <td> 02310636664 </td>
        <td> 08-08-2017 </td>
        <td> In the office </td>
        <td> 18000 </td>
    </tr>