<p>Employees works!</p>
<table>
    <tr> 
        <th> Name </th>
        <th> Gender </th>
        <th> Email </th >
        <th> Phone </th>
        <th> Hire Date </th>
        <th> Workeed Type </th>
        <th> Salary </th>
    </tr>

    <tr> 
        <td> {{employees.name}} </td>
        <td> {{employees.gender}} </td>
        <td> {{employees.email}} </td>
        <td> {{employees.phone}} </td>
        <td> {{employees.hireDate}} </td>
        <td> {{employees.workeedType}} </td>
        <td> {{employees.salary}} </td>
    </tr>
