<p>Employees works!</p>
<table>
    <tr> 
        <th> Name </th>
        <th> Gender </th>
        <th> Email </th >
        <th> Phone </th>
        <th th class="width-column"> Hire Date </th>
        <th th class="width-column"> Workeed Type </th>
        <th> Salary </th>
        <th> Is Employee? </th>
    </tr>

    <tr *ngFor="let employee of employees"> 
            <td> {{employee.name}} </td>
            <td> {{employee.gender}} </td>
            <td> {{employee.email}} </td>
            <td> {{employee.phone}} </td>
            <td> {{employee.hireDate}} </td>
            <td> {{employee.workeedType}} </td>
            <td> {{employee.salary}} </td>
            <td> <input type="checkbox" value="isEmployee" [checked] = "employee.isEmployee" onclick="return false;"></td>
    </tr>
