h1 {
  text-align: center;
}

p {
  text-align: left;
  color:blueviolet ;
  text-align: justify;
  margin-left: 40px;
  font-size: large;
}

.img{
 width:73%;
 background-repeat: no-reapeat;
 background-size: cover;
 position: relative;
 background-position: center;
}